$black: #101828;
$text_color: #475467;
$label_text: #344054;
$input_text: #667085;
$border_color: #D0D5DD;
$checkbox_text: #475467;
$button_color: #1570EF;

h1 {
  text-align: left;
  color: $black;
}
p {
  text-align: left;
  color: $text_color;
}

form {
 display: flex;
  flex-direction: column;
  width: 100%;
text-align: left;

label{
    color: $label_text;
}

input{
    border: solid $border_color 2px;
    border-radius: 8px;
    height: 40px;
    margin: 10px 0;
    
}
textarea{
    border: solid $border_color 2px;
    border-radius: 8px;
    height: 40px;
    margin: 10px 0;
}
  .form__firstname{
  display: flex;
  flex-direction: column;
  }
  .form__lastname{
  display: flex;
  flex-direction: column;
  }
  .form__email{
  display: flex;
  flex-direction: column;
  }
  .form__message{
  display: flex;
  flex-direction: column;
  }
  .form__checkbox{
    display: flex;
    align-items: center;
    margin: 20px 0;
    input{
        width: 25px;
    }
    label{
        color: $checkbox_text;
        margin-left: 10px;
    }
  }
}
